In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter

In [7]:
df=pd.read_csv('marketing_customer_analysis.csv')

In [8]:
#shape
df.shape

(9134, 24)

In [9]:
#headers
df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [11]:
#checking types
df.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [12]:
#checking for nulls
df.isna().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [13]:
df['State'].value_counts(dropna=False)

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64

In [14]:
#Assigning Nulls to most common California
df['State'].fillna('California', inplace=True)

In [15]:
df['Response'].value_counts(dropna=False)

No     7826
Yes    1308
Name: Response, dtype: int64

In [16]:
#Assigning Nulls to most common No
df['Response'].fillna('No', inplace=True)

In [17]:
df['Months Since Last Claim'].value_counts(dropna=False)

3     381
6     364
1     345
4     335
7     333
2     329
0     314
5     313
10    306
11    297
16    295
15    286
13    285
8     279
12    273
14    268
17    263
9     250
19    246
23    239
25    236
21    233
20    231
18    229
22    218
24    211
29    206
28    201
31    190
26    186
30    182
27    182
33    179
34    169
35    142
32    138
Name: Months Since Last Claim, dtype: int64

In [18]:
#Assigning Nulls to median
df['Months Since Last Claim']=df['Months Since Last Claim'].fillna(df['Months Since Last Claim'].median())

In [19]:
df['Number of Open Complaints'].value_counts(dropna=False)

0    7252
1    1011
2     374
3     292
4     149
5      56
Name: Number of Open Complaints, dtype: int64

In [20]:
#Assigning Nulls to median
df['Number of Open Complaints']=df['Number of Open Complaints'].fillna(df['Number of Open Complaints'].median())

In [21]:
df['Vehicle Class'].value_counts(dropna=False)

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64

In [22]:
#Assigning Null to most common 4 door car
df['Vehicle Class'].fillna('Four-Door Car', inplace=True)

In [23]:
df['Vehicle Size'].value_counts(dropna=False)

Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

In [24]:
#Assigning nulls to most common medsize
df['Vehicle Size'].fillna('Medsize', inplace=True)

In [25]:
df['Vehicle Type'].value_counts(dropna=False)

KeyError: 'Vehicle Type'

In [ ]:
#Assigning Nulls to Manual (assuming A is Automatic as suggested by Erin)
df['Vehicle Type'].fillna('M', inplace=True)

In [ ]:
#creating a column for month and filtering it
df['Month']=pd.DatetimeIndex(df['Effective To Date']).month
df['Month'].unique()

In [ ]:
df.head()

In [ ]:
#filtering to January and February
df[df['Month']<4]

In [ ]:
#Deleting column Unnamed: 0
df.drop('Unnamed: 0', axis=1)

# START OF LAB 3

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Show DataFrame info
df.describe().T

In [ ]:
#Showing a plot of the total number of responses.
df.Response.value_counts().plot.bar()
plt.show

In [ ]:
#Creating a new column to transform in numeric values of the objects in Response column 
df['Response Rate']=np.where(df['Response']=='Yes', 1, 0)

In [ ]:
#Testing if all values where transformed
df['Response Rate'].value_counts()

In [ ]:
#Checking the new column
df.head()

In [ ]:
#Showing a plot of the response rate by the sales channel.
sns.barplot(x='Sales Channel', y='Response Rate', data=df)

In [ ]:
#Trying to find agraph. Not really. Quite do not get the correlation
sns.scatterplot(x=df['Total Claim Amount'], y=df['Response Rate'], data=df)

In [ ]:
#Not sure what I am doing anymore
plt.hist(['Response Rate'], bins=1000, data=df) 
plt.ylabel('Total Claim Amount')
plt.show